@import "uwsa.less";
@import "../components/bootstrap/less/bootstrap.less";

@icon-font-path: "../fonts/glyphicons/";
@custom-icons: uw_;
@custom-icons-path: '../fonts/icons-custom/font/';
@font-face {
  font-family: 'uw_';
  src: ~"url('../fonts/icons-custom/font/uw_.eot')";
  src: ~"url('@{custom-icons-path}@{custom-icons}.eot?#iefix') format('embedded-opentype')",
  ~"url('@{custom-icons-path}@{custom-icons}.woff') format('woff')",
  ~"url('@{custom-icons-path}@{custom-icons}.ttf') format('truetype')",
  ~"url('@{custom-icons-path}@{custom-icons}.svg#glyphicons-halflingsregular') format('svg')";
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.jumbotron {
  margin: 50px auto 0 auto;
}