
.zuse-circle-empty:before { content: '\e800'; } /* '' */
.zuse-circle:before { content: '\e801'; } /* '' */
.zuse-attention:before { content: '\e802'; } /* '' */
.zuse-lock:before { content: '\e803'; } /* '' */
.zuse-info-circled:before { content: '\e804'; } /* '' */
.zuse-ajust:before { content: '\e805'; } /* '' */
.zuse-help-circled:before { content: '\e806'; } /* '' */
.zuse-calendar:before { content: '\e807'; } /* '' */
.zuse-down-big:before { content: '\e808'; } /* '' */
.zuse-left-big:before { content: '\e809'; } /* '' */
.zuse-right-big:before { content: '\e80a'; } /* '' */
.zuse-up-big:before { content: '\e80b'; } /* '' */
.zuse-phone-squared:before { content: '\e80c'; } /* '' */
.zuse-attach:before { content: '\e80d'; } /* '' */
.zuse-pin:before { content: '\e80e'; } /* '' */
.zuse-star-half-alt:before { content: '\e80f'; } /* '' */
.zuse-star-half:before { content: '\e810'; } /* '' */
.zuse-star-empty:before { content: '\e811'; } /* '' */
.zuse-star:before { content: '\e812'; } /* '' */
.zuse-mail-squared:before { content: '\e813'; } /* '' */
.zuse-clock:before { content: '\e814'; } /* '' */
.zuse-ok:before { content: '\e815'; } /* '' */
.zuse-ok-squared:before { content: '\e816'; } /* '' */
.zuse-cancel:before { content: '\e817'; } /* '' */
.zuse-cancel-circled:before { content: '\e818'; } /* '' */
.zuse-ok-circled:before { content: '\e819'; } /* '' */
.zuse-lock-open:before { content: '\e81a'; } /* '' */
.zuse-minus-squared:before { content: '\e81b'; } /* '' */
.zuse-minus-circled:before { content: '\e81c'; } /* '' */
.zuse-plus-squared:before { content: '\e81d'; } /* '' */
.zuse-plus-circled:before { content: '\e81e'; } /* '' */
.zuse-minus:before { content: '\e81f'; } /* '' */
.zuse-plus:before { content: '\e820'; } /* '' */
.zuse-link-ext-alt:before { content: '\e821'; } /* '' */
.zuse-flag:before { content: '\e822'; } /* '' */
.zuse-chat:before { content: '\e823'; } /* '' */
.zuse-comment:before { content: '\e824'; } /* '' */
.zuse-calc:before { content: '\e825'; } /* '' */
.zuse-na:before { content: '\e826'; } /* '' */
.zuse-pencil-squared:before { content: '\e827'; } /* '' */
.zuse-search:before { content: '\e828'; } /* '' */
.zuse-users:before { content: '\e829'; } /* '' */
.zuse-user:before { content: '\e82a'; } /* '' */
.zuse-folder-open:before { content: '\e82b'; } /* '' */