@font-face {
  font-family: 'zuse';
  src: url('../font/zuse.eot?82168043');
  src: url('../font/zuse.eot?82168043#iefix') format('embedded-opentype'),
       url('../font/zuse.woff?82168043') format('woff'),
       url('../font/zuse.ttf?82168043') format('truetype'),
       url('../font/zuse.svg?82168043#zuse') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zuse';
    src: url('../font/zuse.svg?82168043#zuse') format('svg');
  }
}
*/
 
 [class^="zuse-"]:before, [class*=" zuse-"]:before, .zuse, .mce-container [class^="zuse-"]:before, .mce-container [class*=" zuse-"]:before, .mce-container .zuse  {
  font-family: "zuse";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.zuse-circle-empty:before { content: '\e800'; } /* '' */
.zuse-circle:before { content: '\e801'; } /* '' */
.zuse-attention:before { content: '\e802'; } /* '' */
.zuse-lock:before { content: '\e803'; } /* '' */
.zuse-info-circled:before { content: '\e804'; } /* '' */
.zuse-ajust:before { content: '\e805'; } /* '' */
.zuse-help-circled:before { content: '\e806'; } /* '' */
.zuse-calendar:before { content: '\e807'; } /* '' */
.zuse-down-big:before { content: '\e808'; } /* '' */
.zuse-left-big:before { content: '\e809'; } /* '' */
.zuse-right-big:before { content: '\e80a'; } /* '' */
.zuse-up-big:before { content: '\e80b'; } /* '' */
.zuse-phone-squared:before { content: '\e80c'; } /* '' */
.zuse-attach:before { content: '\e80d'; } /* '' */
.zuse-pin:before { content: '\e80e'; } /* '' */
.zuse-star-half-alt:before { content: '\e80f'; } /* '' */
.zuse-star-half:before { content: '\e810'; } /* '' */
.zuse-star-empty:before { content: '\e811'; } /* '' */
.zuse-star:before { content: '\e812'; } /* '' */
.zuse-mail-squared:before { content: '\e813'; } /* '' */
.zuse-clock:before { content: '\e814'; } /* '' */
.zuse-ok:before { content: '\e815'; } /* '' */
.zuse-ok-squared:before { content: '\e816'; } /* '' */
.zuse-cancel:before { content: '\e817'; } /* '' */
.zuse-cancel-circled:before { content: '\e818'; } /* '' */
.zuse-ok-circled:before { content: '\e819'; } /* '' */
.zuse-lock-open:before { content: '\e81a'; } /* '' */
.zuse-minus-squared:before { content: '\e81b'; } /* '' */
.zuse-minus-circled:before { content: '\e81c'; } /* '' */
.zuse-plus-squared:before { content: '\e81d'; } /* '' */
.zuse-plus-circled:before { content: '\e81e'; } /* '' */
.zuse-minus:before { content: '\e81f'; } /* '' */
.zuse-plus:before { content: '\e820'; } /* '' */
.zuse-link-ext-alt:before { content: '\e821'; } /* '' */
.zuse-flag:before { content: '\e822'; } /* '' */
.zuse-chat:before { content: '\e823'; } /* '' */
.zuse-comment:before { content: '\e824'; } /* '' */
.zuse-calc:before { content: '\e825'; } /* '' */
.zuse-na:before { content: '\e826'; } /* '' */
.zuse-pencil-squared:before { content: '\e827'; } /* '' */
.zuse-search:before { content: '\e828'; } /* '' */
.zuse-users:before { content: '\e829'; } /* '' */
.zuse-user:before { content: '\e82a'; } /* '' */
.zuse-folder-open:before { content: '\e82b'; } /* '' */