//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 8px 10px 8px 0px;
  margin-bottom: 0;
  list-style: none;
  font-size: @font-size-base / 1.2 ;
  color: @gray;
  background-color: none;
  border-radius: @border-radius-base;
  > li {
    display: inline-block;
    > a {
  //    color: @breadcrumb-color;
      text-decoration: underline;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: @breadcrumb-color;
    }
  }
  > .active {
     color: @breadcrumb-active-color;
   }

}
