//
// Jumbotron
// --------------------------------------------------


.jumbotron {
  padding: @jumbotron-padding;
  margin-bottom: @jumbotron-padding;
  font-size: @jumbotron-font-size;
  font-weight: 200;
  line-height: (@line-height-base * 1.5);
  color: @jumbotron-color;
  background-color: @jumbotron-bg;

  h1,
  .h1 {
    line-height: 1;
    color: @jumbotron-heading-color;
  }
  p {
    line-height: 1.4;
  }

  h4, .h4 {
    letter-spacing: normal;
    text-transform: none;
    font-size: 20px;
    font-weight: 900;
  }

  .container & {
    border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: @screen-sm-min) {
    padding-top:    (@jumbotron-padding * 1.6);
    padding-bottom: (@jumbotron-padding * 1.6);

    .container & {
      padding-left:  (@jumbotron-padding * 2);
      padding-right: (@jumbotron-padding * 2);
    }

    h1,
    .h1 {
      font-size: (@font-size-base * 4.5);
    }
  }
}

/* Callout Box 'lil-jumbo' styled like lil jumbotrons */
.lil-jumbo {
  background: none repeat scroll 0 0 #EEEEEE;
  border-radius: 6px;
  margin-top: 20px;
  padding: 20px;
  h4 {
    letter-spacing: normal;
    text-transform: none;
    font-weight: 900;
  }
}
.callout {
  h4 {
    letter-spacing: normal;
    text-transform: none;
    font-weight: 900;
  }
}
