/* Document lists */
.doc-list {
  &.callout {
    .lil-jumbo;
  }
  /* wraps around file info to seporate thumbnail image */
  div.doc-image-about {
    display: table;
    margin-bottom: @line-height-computed;
  }
}

/* file thumbnail image */

img.doc-image {
  float:left;
  margin-right: 10px;
}



.doc-title {
  font-weight: bold;
  margin-bottom: @line-height-base;
}

/* file icon below flag */

  .doc-icon {
    /* display: inline-block; causing bad floats on full documents lists
    position: absolute;*/
    padding-right: 42px;
  &:after {
    content: '\f15b';
    color: #fff;
    font-family: "uw_";
    font-size: @font-size-base * 1.7;
    text-shadow: 0px 0px 4px #999;
    position: absolute;
    margin: -3px 20px;
    line-height: 1.2;
  }
}

/* file type flag */

  .file-icons {
    font-size: @font-size-base * .6;
    padding: 1px 3px;
    color: #fff;
    margin: 5px 3px 3px 8px;
    font-family: @font-family-sans-serif;
    position: absolute;
    z-index: 1;
    box-shadow: 1px 1px 2px #aaa;
    line-height: 1.2;
  }

/* file types */
.zip {
  &:after {
    content: 'ZIP';
    background: rgba(27, 23, 27, 0.57);
    .file-icons;
  }
}
.bmp {
  &:after {
    content: 'BMP';
    background: rgba(66, 69, 15, 0.82);
    .file-icons;
  }
}
.wvx {
  &:after {
    content: 'WVX';
    background: #374951;
    .file-icons;
  }
}
.pdf {
    &:after {
      content: 'PDF';
      background: #990013;
      .file-icons;
    }
  }
.jpg, .jpeg {
  &:after {
    content: 'JPG';
    background: #421b99;
    .file-icons;
  }
}
.png {
  &:after {
    content: 'PNG';
    background: #99454c;
    .file-icons;
  }
}
  .xls, .xlsx, .xlsm {
    &:after {
      content: 'XLS';
      background: #336b19;
      .file-icons;
    }
  }
  .mp3 {
    &:after {
      content: 'MP3';
      background: #bf2f61;
      .file-icons;
    }
  }
.csv {
  &:after {
    content: 'CSV';
    background: #091d85;
    .file-icons;
  }
}
.vsd, .vsdx {
  &:after {
    content: 'VSD';
    background: #3e3b85;
    .file-icons;
  }
}
  .ppt, .pptx {
    &:after {
      content: 'PPT';
      background: #cd6632;
      .file-icons;
    }
  }
  .doc, .docx {
    &:after {
      content: 'DOC';
      background: #407abd;
      .file-icons;
    }
  }

/* wraps meta info about docs */
  .doc-meta-all {
    display: block;
    margin-bottom: @line-height-computed / 2;
    &.inline {
    display: inline;
    margin-left: 0px;}
  }

/* meta info about docs */

  .doc-date {
    .post-meta-info;
    &:before {
      content: 'Date: ';
    }
  }
  .doc-size {
    .post-meta-info;
    &:before {
      content: 'Size: ';
    }
  }
  .doc-version {
    .post-meta-info;
    &:before {
      content: 'Version: ';

    }
  }
  .doc-tags {
    .post-meta-info;
    font-style: normal;
    display: block;
    .tags;
  }

.post-meta-info {
  /* is applied to all document meta info */
  &:before {
    font-weight: normal;
  }
  font-size: @font-size-base * .9;
  color: lighten(@text-color, 15%);
  font-style: italic;
  font-weight: bold;

  padding-right: 5px;
}

/* common look for tags */
.tags {
  > a {
    padding: 0 5px 1px;
    margin: 0px 5px 0px 0px ;
    font-size: @font-size-base * .7;
    font-weight: bold;
    border-radius: 8px;
    background-color: lighten(@gray-light, 10%);
    color: #fff;
    text-decoration: none;
    display: inline-block;
    &:hover {
      background-color: @gray-light;
      text-decoration: none;
    }
  }
}


/* news */
.news-name {
  font-weight: bold;
}
.news-title {
  font-style: italic;
}
.news-phone {

}
.news-email {

}

.news-name, .news-title, .news-phone, .news-email {
  display: block;
}

/* news content */
.news-subheading {
  margin-top: 0px;
}
h1.page-title ~ h2.news-subheading {
  font-size: 18px;
  margin-top: 8px;
}

/* news item list */
.item-sub-title {
  margin-top: -10px;
  margin-bottom: 0px;
  font-weight: bold;
}

.news-date {
  margin-bottom: 0px;
font-style: italic;
}


.archive-month li {
  margin-bottom: 5px;
  line-height: 5px;

}


/* News and other News like post lists -- OLD Not followed, but should be when we add picture and other stuff for post lists

.uwsa-recent-posts {
  &.callout {
    .lil-jumbo;
  }
  div { display: table;}
  h3 {}
  li {
    display: block;
    margin-bottom: @line-height-computed;
    > div p {
      margin:0px;
      line-height: @line-height-base;

    }
  }
  a {
    float: left;
    margin-right: 10px
  }
  h4 {
    margin:0px 0px 3px 0px;

  }

 h4 a {
  margin: 0px;
  float:none;
}
img.news-image {

}
.inline {
  li p, li h5 {
    display: inline;
    margin-right: 10px;
  }
  li p.news-summery {
    display: block;
  }
}

.rposts-date {
  .post-meta-info;
  //&:before {
  //  content: 'Date: '; }

}


.author {
  .post-meta-info;
}
.news-tags {
  .post-meta-info;
  font-style: normal;
  &:before {
    display: block;
  }
  .tags;


}
}

*/

.lists-none {
ul {
  margin: 0;
  padding: 0;
}

  li:before {
    border: none;
    left: 0;
    position: relative;
    top: 0;
    width: 0;
}
  li {
    margin-bottom: (@line-height-computed);
  }
}

div.listing-module{
  .lists-none;
  h4.item-title {
    margin-top: 0;
    margin-bottom: (@line-height-computed / 4);
    letter-spacing: normal;
    text-transform: none;
  }
  h5.item-sub-title {
    letter-spacing:normal;
    text-transform: none;
    font-size:15px;
    font-style:italic;
    margin-top: -1 * (@line-height-computed / 8);
    margin-bottom: (@line-height-computed / 4);
  }
  li.item {
    margin-bottom: (@line-height-computed * 1.25);
  }
  p .item-date {
    font-style: italic;
  }
  p,  p.item-info {
    margin: 0;
  }
}
