//
// Basic print styles
// --------------------------------------------------
// Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css

@media print {

  * {
    text-shadow: none !important;
    color: #000 !important; // Black prints faster: h5bp.com/s
    background: transparent !important;
    box-shadow: none !important;
    font-family: arial, sans-serif !important;
  }
  .doc-icon{
  padding: 0px !important;
    margin: 0px !important;
  &:after {
    display:none;
    position: relative !important;
    margin:0 !important;
    padding:0 !important;
  }
}
.doc-type {
  position: relative;
  margin:0 !important;
  padding:0 !important;
  font-size: @font-size-base;
  &:after {
    position: relative;
    margin:0 !important;
    padding:0 !important;
    font-size: @font-size-base;
}

}
  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
    font-size: .9em;
    color: #000;
    background: transparent;
    font-family: inherit;
    position: relative;
    z-index: auto;
    box-shadow: none;
    line-height: inherit;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  // Don't show links for images, or javascript/internal links
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; // h5bp.com/t
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 2cm .5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  // Chrome (OSX) fix for https://github.com/twbs/bootstrap/issues/11245
  // Once fixed, we can just straight up remove this.
  select {
    background: #fff !important;
  }

  // Bootstrap components
  .navbar {
    display: none;
  }
  .table {
    td,
    th {
      background-color: #fff !important;
    }
  }
  .btn,
  .dropup > .btn {
    > .caret {
      border-top-color: #000 !important;
    }
  }
  .label {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }
  .table-bordered {
    th,
    td {
      border: 1px solid #ddd !important;
    }
  }
  .global-menu, .global-search, .breadcrumb{
    display: none;
  }
  .deepGrayTop {
   height: 0px;

  }
  .header-wrap {
   height: 0px;
  }

  img.print-logo {
    display: block;
    max-width: 250px !important;
    margin-bottom: -90px;
  }
  .child-site-title {
    font-size: 20px;
    margin-left: 120px;
  }
  .sub-site-title {
    font-size: 18px;
    margin-left: 120px;
  }

 .news-sidebar {
   display:none;
 }
 #tribe-events-bar, .tribe-events-cal-links, #tribe-events-footer, #tribe-events-footer + .tribe-events-ical {
   display:none !important;

 }

 h3.sub-site-title {
   visibility: hidden;
 }

 h2.child-site-title {
   top: 42px;
   position: relative;
   max-width: 4in;
   left: 2in;
   a[href]:after {
     content:"";
   }
 }

 table.print-no-padding tr th,
 table.print-no-padding tr td{
   padding: 0 !important;
 }

  a.url-hidden-print:after , .url-hidden-print a:after {
    content: "";
  }


}
