.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #59001f 0%, #1c000a 100%);
  background-image: linear-gradient(to bottom, #59001f 0%, #1c000a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff59001f', endColorstr='#ff1c000a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #120006;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #1c000a;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #1c000a;
  border-color: #120006;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #144040 0%, #051111 100%);
  background-image: linear-gradient(to bottom, #144040 0%, #051111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff144040', endColorstr='#ff051111', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #030a0a;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #051111;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #051111;
  border-color: #030a0a;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #b2465c 0%, #863545 100%);
  background-image: linear-gradient(to bottom, #b2465c 0%, #863545 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb2465c', endColorstr='#ff863545', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #7f3242;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #863545;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #863545;
  border-color: #7f3242;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #990033 0%, #5c001f 100%);
  background-image: linear-gradient(to bottom, #990033 0%, #5c001f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff990033', endColorstr='#ff5c001f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #52001b;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #5c001f;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #5c001f;
  border-color: #52001b;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #eae0b5 0%, #dccc85 100%);
  background-image: linear-gradient(to bottom, #eae0b5 0%, #dccc85 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeae0b5', endColorstr='#ffdccc85', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dac97d;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #dccc85;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #dccc85;
  border-color: #dac97d;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #990033 0%, #80002a 100%);
  background-image: linear-gradient(to bottom, #990033 0%, #80002a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff990033', endColorstr='#ff80002a', GradientType=0);
  background-color: #80002a;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #e2e2e2 100%);
  background-image: linear-gradient(to bottom, #eeeeee 0%, #e2e2e2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffe2e2e2', GradientType=0);
  background-color: #e2e2e2;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, rgba(26, 26, 26, 0) 0%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, transparent 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001a1a1a', endColorstr='#00000000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222222 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dfede9 0%, #c7dfd8 100%);
  background-image: linear-gradient(to bottom, #dfede9 0%, #c7dfd8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfede9', endColorstr='#ffc7dfd8', GradientType=0);
  border-color: #aed1c7;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #cfd6e5 0%, #b6c1d8 100%);
  background-image: linear-gradient(to bottom, #cfd6e5 0%, #b6c1d8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcfd6e5', endColorstr='#ffb6c1d8', GradientType=0);
  border-color: #9dacca;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f5e9e9 0%, #eacece 100%);
  background-image: linear-gradient(to bottom, #f5e9e9 0%, #eacece 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5e9e9', endColorstr='#ffeacece', GradientType=0);
  border-color: #deb3b3;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #59001f 0%, #26000d 100%);
  background-image: linear-gradient(to bottom, #59001f 0%, #26000d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff59001f', endColorstr='#ff26000d', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #144040 0%, #081919 100%);
  background-image: linear-gradient(to bottom, #144040 0%, #081919 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff144040', endColorstr='#ff081919', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #eae0b5 0%, #dfcf8d 100%);
  background-image: linear-gradient(to bottom, #eae0b5 0%, #dfcf8d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeae0b5', endColorstr='#ffdfcf8d', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #b2465c 0%, #8d3849 100%);
  background-image: linear-gradient(to bottom, #b2465c 0%, #8d3849 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb2465c', endColorstr='#ff8d3849', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #990033 0%, #660022 100%);
  background-image: linear-gradient(to bottom, #990033 0%, #660022 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff990033', endColorstr='#ff660022', GradientType=0);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #26000d;
  background-image: -webkit-linear-gradient(top, #59001f 0%, #330012 100%);
  background-image: linear-gradient(to bottom, #59001f 0%, #330012 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff59001f', endColorstr='#ff330012', GradientType=0);
  border-color: #330012;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #59001f 0%, #3f0016 100%);
  background-image: linear-gradient(to bottom, #59001f 0%, #3f0016 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff59001f', endColorstr='#ff3f0016', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dfede9 0%, #cfe4de 100%);
  background-image: linear-gradient(to bottom, #dfede9 0%, #cfe4de 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfede9', endColorstr='#ffcfe4de', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #cfd6e5 0%, #bec8dc 100%);
  background-image: linear-gradient(to bottom, #cfd6e5 0%, #bec8dc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcfd6e5', endColorstr='#ffbec8dc', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5e9e9 0%, #eed7d7 100%);
  background-image: linear-gradient(to bottom, #f5e9e9 0%, #eed7d7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5e9e9', endColorstr='#ffeed7d7', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
