//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  line-height: @headings-line-height;
  color: @headings-color;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: @headings-small-color;
  }
}

h1,
h2,
h3 {
  margin-top: @line-height-computed;
  margin-bottom: (@line-height-computed / 2);

  small,
  .small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: (@line-height-computed);
  margin-bottom: (@line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1, h1 strong, .h1 strong  {
	font-size: @font-size-h1;
	color: @dark-red; 
	font-family: @font-family-headings;
  font-weight: 400;
  line-height: 1.2em;
  > a {
    text-decoration: none;
    &:link,
    &:focus,
    &:visited,
    &:active
    {
      text-decoration: none;

    }
  }

	}
h2, .h2, h2 strong, .h2 strong {
	font-size: @font-size-h2; 
	color: @gray-bar; 
	font-family: @font-family-headings;
  font-weight: 700;
  > a {
    text-decoration: none;
    &:link,
    &:focus,
    &:visited,
    &:active
    {
      text-decoration: none;

    }
  }
	}

h3, .h3, h3 strong, .h3 strong {
	font-size: @font-size-h3 * 1.1;
	color: @gray;
	font-family: @font-family-headings;
  font-weight: 400;
  > a {
    text-decoration: none;
    &:link,
    &:focus,
    &:visited,
    &:active
    {
      text-decoration: none;

    }
  }
	}
h3.widget-title {
  font-size: @font-size-h4;

}
h4, .h4 { 
	font-size: @font-size-h5 * 1.2;
	color: @dark-red; 
	font-family: @font-family-headings;
  font-weight: 700;
  letter-spacing: .06em;
  text-transform: uppercase;
  > a {
    text-decoration: none;
    &:link,
    &:focus,
    &:visited,
    &:active
    {
      text-decoration: none;

    }
  }
	}
h5, .h5 { 
	font-size: @font-size-h5 * 1.3;
	color: @gray-bar;
	font-family: @font-family-headings;
  font-weight: 900;
  > a {
    text-decoration: none;
    &:link,
    &:focus,
    &:visited,
    &:active
    {
      text-decoration: none;

    }
  }
	}
h6, .h6 { 
	font-size: @font-size-h5 * 1;
	color: @gray;
	font-family: @font-family-headings;
  font-weight: 900;
  letter-spacing: .1em;
  text-transform: uppercase;
  > a {
    text-decoration: none;
    &:link,
    &:focus,
    &:visited,
    &:active
    {
      text-decoration: none;

    }
  }
	}
  ul{
    padding-left: 0;
  padding-right: 0;
  }




// Body text
// -------------------------

p {
  margin: 0 0 (@line-height-computed / 2);
}

.lead {
  margin-bottom: @line-height-computed;
  font-size: floor(@font-size-base * 1.15);
  font-weight: 200;
  line-height: 1.4;

  @media (min-width: @screen-sm-min) {
    font-size: (@font-size-base * 1.5);
  }
}


// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small,
.small  { font-size: 85%; }

// Undo browser default styling
cite    { font-style: normal; }

// Contextual emphasis
.text-muted {
  color: @text-muted;
}
.text-primary {
  color: @brand-primary;
  &:hover {
    color: darken(@brand-primary, 10%);
  }
}
.text-warning {
  color: @state-warning-text;
  &:hover {
    color: darken(@state-warning-text, 10%);
  }
}
.text-danger {
  color: @state-danger-text;
  &:hover {
    color: darken(@state-danger-text, 10%);
  }
}
.text-success {
  color: @state-success-text;
  &:hover {
    color: darken(@state-success-text, 10%);
  }
}
.text-info {
  color: @state-info-text;
  &:hover {
    color: darken(@state-info-text, 10%);
  }
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }


// Page header
// -------------------------

.page-header {
  padding-bottom: ((@line-height-computed / 2) - 1);
  margin: (@line-height-computed * 2) 0 @line-height-computed;
  border-bottom: 1px solid @page-header-border-color;
}

.page-header h1.page-title {
  margin-bottom: 0px;
}

// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: (@line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}
ul { padding-left: 50px;
  padding-right: 50px;
  list-style: none outside none;
}
ul ul { padding-left: 30px;
  padding-right: 0px;
  list-style: none outside none;
}
ul li, ol li {
  margin-bottom: 5px;
  line-height: @line-height-computed;
  ol, ul {
        /* lists in lists */
    margin-top: @line-height-computed / 4;
    margin-bottom: @line-height-computed / 4;
  }
}

.col-md-2, .col-md-3, .col-md-4  {

  .uwsa-rich-text{

ul { padding-left: 25px;
  padding-right: 25px;
  list-style: none outside none;
}
ul.list-unstyled {
  padding-left: 0;
  padding-right: 0;
}

ul ul { padding-left: 15px;
  padding-right: 0px;
  list-style: none outside none;
}
  }
}



ul li:before {
  content: "\e813";
  /* padding-right: 1.6em; */
  color: #990033;
  font-family: uw_;
  font-size: .4em;
  position: relative;
  bottom: 0em;
  float: left;
  display: block;
  margin: 0 -1.6em 0em;
  left: -1em;
  width: 0;
  /*border-color: rgba(0, 0, 0, 0) #990033;
  border-style: solid;
  border-width: 0.45em 0 0.45em 0.45em;
  content: "";
  display: block;
  height: 0;
  left: -1em;
  line-height: 0;
  margin: 0 0px -14px;
  position: relative;
  top: 0.25em;
  width: 0; */
}
// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  > li:before {
    border-color: transparent;
    border-style: none;
    border-width: 0;
    content: none;
  }


}

ul ol {
  > li:before {
    border-color: transparent;
    border-style: none;
    border-width: 0;
    content: none;
  }
}
// Other list styles that should not be effected by the red carrot (type.less line 236)
.no-carrot {
> li:before {
  border-color: transparent;
  border-style: none;
  border-width: 0;
  content: none;
}
}
// child lists
ul ul, ol ol, ul ol, ol ul {
  margin-top: @line-height-computed / 4;
  margin-bottom: @line-height-computed / 4;
}
// Inline turns list items into inline-block
.list-inline {
  .list-unstyled();

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;


    
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: @line-height-computed;
}
dt,
dd {
  line-height: @line-height-base;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0; // Undo browser default
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

@media (min-width: @grid-float-breakpoint) {
  .dl-horizontal {
    dt {
      float: left;
      width: (@component-offset-horizontal - 20);
      clear: left;
      text-align: right;
      .text-overflow();
    }
    dd {
      margin-left: @component-offset-horizontal;
      .clearfix(); // Clear the floated `dt` if an empty `dd` is present
    }
  }
}

// MISC
// ----

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted @abbr-border-color;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: (@line-height-computed / 2) @line-height-computed;
  margin: 0 0 @line-height-computed;
  border-left: 5px solid @blockquote-border-color;
  p {
    font-weight: 400;
    line-height: @line-height-computed;
    font-style: italic;
  }
  p:last-child {
    margin-bottom: 0;
  }
  small,
  .small {
    display: block;
    line-height: @line-height-base;
    color: @blockquote-small-color;
    &:before {
      content: '\2014 \00A0'; // EM DASH, NBSP
    }
  }

  cite {
    font-weight: bold;
    font-size: 90%;
    line-height: @line-height-small;
    &:before {
      content: '\2014 \00A0'; // EM DASH, NBSP
    }

  }

  // Float right with text-align: right
  &.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid @blockquote-border-color;
    border-left: 0;
    p,
    small,
    .small {
      text-align: right;
    }
    small,
    .small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014'; // NBSP, EM DASH
      }
    }
  }
  &.normal {
    >p {
      font-size: @font-size-base;
      line-height: @line-height-computed * .95;
    }
  }
  &.quote-large {
    >p {
      font-size: (@font-size-base * 1.25);
      color: #666;
      line-height: @line-height-computed;
    }
  }
  &.callout-quote {
    .border-left-radius(@border-radius-large);
    .border-top-radius(@border-radius-large);
    .border-bottom-radius(@border-radius-large);
    .border-right-radius(@border-radius-large);
    background: #eee;
   // margin: @line-height-computed (@line-height-computed * 2.25);
    padding: @line-height-computed;

  }
  &.curly-quote {
    border: none;
    >p {padding-left:  @line-height-computed;
    }
    &:before {
      font-family: 'uw_';
      content:'\f10d';

      font-size: @font-size-base * 1.25;
      bottom: 5px;
      color: #AAAAAA;
      float: left;
      left: -2px;
      position: relative;
    }
  }
  &.callout-curly-quote {
    .callout-quote;
    .curly-quote
  }
}





// Quotes
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  margin-bottom: @line-height-computed;
  font-style: normal;
  line-height: @line-height-base;
}


// This is for carringtion Build modules
.cfct-module {
  margin-top: (@line-height-computed / 2);
  margin-bottom: (@line-height-computed);
h1,
h2,
h3,
h4,
h5,
h6,
.cfct-mod-title{
margin-top: 0;
  margin-bottom: (@line-height-computed / 2);


}

}
.text-normal {
  font-size: @font-size-base;
  font-family: @font-family-sans-serif;
}

h3.cfct-mod-title ~ h4 {
  letter-spacing: normal;
  text-transform: none;
}