
// --------------------------------------------------
// All UWSA theme sp 
// --------------------------------------------------


//
// Rows
// --------------------------------------------------


.deepGray {
	background: @gray-bar;
	color: #fff
	}
	
.deepGrayTop {
	background: @gray-bar;
	padding-top: .75em;
	color: #fff;
    min-height: 60px;
}

.deepRedTop {
  background: @off-deep-red;
  color: #fff;
  min-height: 40px;
}
	
.mutedRed {
	background: @muted-red;
	}
	
.deepRed {
	background: @deep-red;
	color: #fff
	}

.offRed {
  background: @off-red;
}

.systemRed {
	background: @not-so-system-red;
	color: #fff;
	}

.mutedLtRed {
	background: @lite-muted-red;
	}

/* components (for lac of a better term, this is under js on the bootstrap documentation tho) */

.bs-component {
  margin: 20px 0px; /* wraps all bootstrap content components */
}

/* accordion */

.accordion-all-buttons {
  padding-bottom: (@line-height-computed / 2);

}
.accordion-all-buttons > .btn-primary {
  margin-right: (@line-height-computed / 4);
font-size: 12px;
}

.bs-accordion-min {
  .panel-collapse {
    border: none;
  }
  .panel {
    box-shadow: none;
  }
  .panel-body {
    border-width: 0px;
    border-color: transparent;
    padding: 15px 10px;}
  .panel-default {
    border: none;
  > .panel-heading {
    background-color: transparent;
    border-color: none;
    border-width: 0px;
    padding:5px 0px 10px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    h4.panel-title>a , h4.panel-title>button {
      color: @gray-dark;
      font-size: @font-size-base;
      border: none;
      background: transparent;
      font-weight: bold;
      padding: 0 0 0 0;
      text-align: left;
      }
    }
  }
    h4.panel-title>a.collapsed , h4.panel-title>button.collapsed {
         color: @gray-dark    ;
         position: relative;
         left: 1.2em;
         &:before {
           border-color: rgba(0, 0, 0, 0) #990033;
           border-style: solid;
           border-width: 0.45em 0 0.45em 0.45em;
           content: "";
           display: block;
           height: 0;
           line-height: 0;
           margin: 0 0 -16px;
           position: relative;
           width: 0;
           left: -1.2em;
         }
       }
    h4.panel-title>a , h4.panel-title>button {
    position: relative;
    left: 1.2em;
    &:before {
      border-left: 0.45em solid transparent;
      border-right: 0.45em solid transparent;
      border-top: 0.45em solid #990033;

      content: "";
      display: block;
      height: 0;
      line-height: 0;
      margin: 0 0 -14px;
      position: relative;
      width: 0;
      left: -1.2em;
    }
  }
}
.bs-accordion {
  h4.panel-title {
    font-family: @font-family-base;
    margin-bottom: 0;
  >a , >button {
    color: @dark-red;
    font-weight: bold;
    text-decoration: none;
    border:none;
    background:transparent;
    padding:0;
    text-align: left;

    &:focus {
      outline: dotted currentColor thin;
    }
  }
  }
}

/* tabs */

.bs-tabs {
  .tab-pane {
    margin: 10px 0px;
  }

}

@media (max-width: @screen-sm-max) {
.logo {

  max-width: 90%;
}



}
@media (max-width: @screen-xs-max) {
  .logo {
    min-width: 75px;
    max-width: 65%;
  }


}

#footer {
  .fax, .phone, .email {
    position: relative  ;
  }
 .phone { font-size: 118%;
 top: 1px;
   right: -7px;
 }
  .fax {
    font-size: 110%;
  right: -7px;
    margin-left: 2px;
    /* padding-right: 2px; */
  }
  .email {
    font-size: 110%;
    right: -7px;
    margin-left: 2px;
  }

}

.uwsa-rich-text {
  .clearfix;
}

.accordions-showall span {
  margin-right: 5px;
  font-style:italic;
  font-family: @font-family-base;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
  .btn;
  .btn-default;
}



/* Accountability Report Dashboard Icon styles */
.row.lil-jumbo {
  margin-bottom: 30px;
}

.copy .accountability-icons {

  div:first-child {

  }
/*
a.icon {
  position: absolute;
  display: block;
  height: 200px;
  width: 200px;

}
  a.icon:hover {
    text-decoration: none;

  }
  a.icon span.icon-text {
    display: none;
  }
*/

.icon-div  {
  height: 200px;
  width: 200px;
  padding-left: 16px;
  position: absolute;
}
 .icon-div a {
   text-decoration: none;
   color:transparent;
   font-size: 1px;
   width: 160px;
   height: 160px;
   display: block;
  }
  .icon-div div.tooltip-inner {


  }
  .icon-div div.tooltip {

  }
  h3 {
    font-size: 1.3em;
    line-height: 2.2;
    text-align: center;
    max-width: 200px;
    color: @link-color;
  }
.font-icons {
  color: #777;
  font-size: 400%;
display:block;
  max-width: 160px;
  max-height: 160px;
  font-family: uw_;
  background: none repeat scroll 0px 0px #EEE;
  border-radius: 6px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
margin-left: auto;
  margin-right: auto;
}

  .about:before {
    content: '\e803';
    font-size: 90px !important;
    line-height: 1.78;
    padding-left: 36px !important;
 .font-icons;

  }
  .access:before {
    content: '\e81b';
    .font-icons;
  }
  .completion:before {
    content: '\e81c';
    .font-icons;
    padding-left: 34px !important;

  }
  .cost:before {
    content: '\e81a';
    .font-icons;
  }
  .undergrad:before {
    content: '\e815';
    .font-icons;
  }
  .faculty:before {
    content: '\e801';
    .font-icons;
  }
  .economic:before {
    content: '\e807';
    .font-icons;
  }
  .facilities:before {
    content: '\e819';
    .font-icons;
  }
  .institution:before {
    content: '\e81d';
    .font-icons;

  }
  .tooltip-inner {
    text-align: left;
  }

}

.copy .sap-site-icons {


  h3 {
    font-size: 1.3em;
    line-height: 2.2;
    text-align: center;
    max-width: 200px;
  }
  .font-icons {
    color: #777;
    font-size: 400%;
    display:block;
    max-width: 160px;
    font-family: uw_;
    background: none repeat scroll 0px 0px #EEE;
    border-radius: 6px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    padding-top: 180px;
    margin-top: -180px;
  }
  .gethelp-link:before {
    content: '\e814';
    .font-icons;

  }
  .uwsystem-link:before {
    content: '\e803';
    .font-icons;
    font-size: 90px !important;
    line-height: 1.78;
    padding-left: 36px !important;
  }
  .learnmore-link:before {
    content: '\e817';
    .font-icons;


  }
  .oncampus-link:before {
    content: '\e800';
    font-size: 100px !important;
    line-height: 1.6;
    padding-left: 28px !important;
    .font-icons;
  }
  .policy-link:before {
    content: '\e80f';
    .font-icons;
  }
  .taskforce-link:before {
    content: '\e80e';
    .font-icons;
  }
}